USE [PackageTracker]
GO
/****** Object:  Table [dbo].[PackagesToTrack]    Script Date: 18-06-2018 09:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackagesToTrack](
	[rn] [int] IDENTITY(1,1) NOT NULL,
	[External Tracking No_] [varchar](100) NOT NULL,
	[Shipping Agent Code] [varchar](50) NOT NULL,
	[Company] [varchar](50) NOT NULL,
	[threadno_] [int] NOT NULL,
	[PackageNo] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[Desc] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageTrackStaging]    Script Date: 18-06-2018 09:40:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageTrackStaging](
	[External Tracking No_] [varchar](100) NOT NULL,
	[ThreadNo] [int] NULL,
	[Company] [varchar](50) NOT NULL,
	[Status] [varchar](255) NOT NULL,
	[Status_Date] [varchar](255) NOT NULL,
	[Status_Time] [varchar](255) NOT NULL,
	[SignedForByName] [varchar](255) NOT NULL,
	[EstimatedDeliveryDate] [datetime] NOT NULL,
	[CarrierStatusCode] [varchar](255) NOT NULL,
	[CarrierStatusMessage] [varchar](255) NOT NULL,
	[RTS] [int] NOT NULL,
	[RTSTrackingNo] [varchar](255) NOT NULL,
	[DAMAGE] [int] NOT NULL,
	[DAMAGEMSG] [varchar](255) NOT NULL,
	[StatusUpdated] [datetime] NOT NULL,
	[ExceptionStatus] [int] NOT NULL,
	[PackageNo] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PackagesToTrack] ON 

INSERT [dbo].[PackagesToTrack] ([rn], [External Tracking No_], [Shipping Agent Code], [Company], [threadno_], [PackageNo], [status], [Desc]) VALUES (1, N'508741111117992', N'GSO', N'WS', 1, N'CONT-000045723', N'200', NULL)
INSERT [dbo].[PackagesToTrack] ([rn], [External Tracking No_], [Shipping Agent Code], [Company], [threadno_], [PackageNo], [status], [Desc]) VALUES (2, N'1ZTT1049A822465125', N'UPS', N'WS', 1, N'CONT-000042177', N'200', NULL)
INSERT [dbo].[PackagesToTrack] ([rn], [External Tracking No_], [Shipping Agent Code], [Company], [threadno_], [PackageNo], [status], [Desc]) VALUES (5, N'415205511594', N'FEX', N'WS', 1, N'CONT-000036552', N'200', NULL)
GO
SET IDENTITY_INSERT [dbo].[PackagesToTrack] OFF
INSERT [dbo].[PackageTrackStaging] ([External Tracking No_], [ThreadNo], [Company], [Status], [Status_Date], [Status_Time], [SignedForByName], [EstimatedDeliveryDate], [CarrierStatusCode], [CarrierStatusMessage], [RTS], [RTSTrackingNo], [DAMAGE], [DAMAGEMSG], [StatusUpdated], [ExceptionStatus], [PackageNo]) VALUES (N'415205511594', 1, N'WS', N'', N'', N'', N'', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'', 0, N'', 0, N'', CAST(N'2018-03-21T14:06:58.713' AS DateTime), 0, N'CONT-000036094')
INSERT [dbo].[PackageTrackStaging] ([External Tracking No_], [ThreadNo], [Company], [Status], [Status_Date], [Status_Time], [SignedForByName], [EstimatedDeliveryDate], [CarrierStatusCode], [CarrierStatusMessage], [RTS], [RTSTrackingNo], [DAMAGE], [DAMAGEMSG], [StatusUpdated], [ExceptionStatus], [PackageNo]) VALUES (N'508741111117992', 1, N'WS', N'Delivered', N'Mar. 16, 2018', N'11:00 AM', N'KM HAMBURGER', CAST(N'2018-03-16T00:00:00.000' AS DateTime), N'', N'ON ROUTE FOR DELIVERY', 0, N'', 0, N'', CAST(N'2018-03-21T14:10:05.193' AS DateTime), 0, N'CONT-000045723')
INSERT [dbo].[PackageTrackStaging] ([External Tracking No_], [ThreadNo], [Company], [Status], [Status_Date], [Status_Time], [SignedForByName], [EstimatedDeliveryDate], [CarrierStatusCode], [CarrierStatusMessage], [RTS], [RTSTrackingNo], [DAMAGE], [DAMAGEMSG], [StatusUpdated], [ExceptionStatus], [PackageNo]) VALUES (N'1ZTT1049A822465125', 1, N'WS', N'Delivered', N'Mar. 17, 2018', N'6:09 PM', N'HUGHES', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'D', N'', 0, N'', 0, N'', CAST(N'2018-03-21T14:12:30.393' AS DateTime), 0, N'CONT-000042177')
ALTER TABLE [dbo].[PackagesToTrack] ADD  CONSTRAINT [DF_PackagesToTrack_PackageNo]  DEFAULT ('') FOR [PackageNo]
GO
ALTER TABLE [dbo].[PackageTrackStaging] ADD  CONSTRAINT [DF_PackageTrackStaging_RTS]  DEFAULT ((0)) FOR [RTS]
GO
ALTER TABLE [dbo].[PackageTrackStaging] ADD  CONSTRAINT [DF_PackageTrackStaging_RTSTrackingNo]  DEFAULT ('') FOR [RTSTrackingNo]
GO
ALTER TABLE [dbo].[PackageTrackStaging] ADD  CONSTRAINT [DF_PackageTrackStaging_DAMAGE]  DEFAULT ((0)) FOR [DAMAGE]
GO
ALTER TABLE [dbo].[PackageTrackStaging] ADD  CONSTRAINT [DF_PackageTrackStaging_DAMAGEMSG]  DEFAULT ('') FOR [DAMAGEMSG]
GO
ALTER TABLE [dbo].[PackageTrackStaging] ADD  CONSTRAINT [DF_PackageTrackStaging_ExceptionStatus]  DEFAULT ((0)) FOR [ExceptionStatus]
GO
ALTER TABLE [dbo].[PackageTrackStaging] ADD  CONSTRAINT [DF_PackageTrackStaging_PackageNo]  DEFAULT ('') FOR [PackageNo]
GO
