<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="D365OperationUserName" value="sandip@wineshippingllc.com" />
    <add key="D365OperationPassword" value="R50!YtRWBVDS" />
    <add key="D365OperationTenant" value="wineshippingllc.onmicrosoft.com" />
    <add key="D365OperationClientAppId" value="a4b0ba17-5090-414a-9aff-25d0903d58b1" />
    <add key="D365OperationClientAppSecret" value="u22BXuI0litDwrf1ksB+4QoK6+Z3Spky0lyIJnNdrOI=" />
    <add key="D365OperationAuthEndPoint" value="https://login.windows.net/" />

    <!--Test-->
    <!--<add key="D365OperationEndPoint" value="https://wineshipping-prod.operations.dynamics.com" />-->

    <!--Production-->
    <add key="D365OperationEndPoint" value="https://wineshipping-prod.operations.dynamics.com" />
  </appSettings>
  <connectionStrings>
    <!--Test-->
    <!--<add name="ApplicationConnectionString" connectionString="Server=tcp:wsazdbtst01.database.windows.net,1433;Initial Catalog=tracking_test;Persist Security Info=False;User ID=wsportaladmin;Password=KK34^URT23jP;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->

    <!--Production-->
    <add name="ApplicationConnectionString" connectionString="Server=tcp:wsazdb01.database.windows.net,1433;Initial Catalog=tracking;Persist Security Info=False;User ID=wsportaladmin;Password=rC8pzP(D4Ksb_nX#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>