<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PackageTracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
    <!--<add name="PackageTrackerConnectionString" connectionString="Data Source=DBWS02;Initial Catalog=tracking_test;UID=sa;PWD=access"/>-->
    <add name="PackageTrackerConnectionString" connectionString="Server=tcp:wsazdb01.database.windows.net,1433;Initial Catalog=tracking;Persist Security Info=False;User ID=wsportaladmin;Password=rC8pzP(D4Ksb_nX#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
  </connectionStrings>
 
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PackageTracker.My.MySettings>
      <setting name="PackageTracker_gso_trackshipment_GSOWebService" serializeAs="String">
        <value>http://wsa.gso.com/gsoshipws1.0/gsoshipws.asmx</value>
      </setting>
      <setting name="PackageTracker_TrackServiceWebReference_TrackService" serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/track</value>
      </setting>
    </PackageTracker.My.MySettings>
  </applicationSettings>
</configuration>