USE [PackageTracker]
GO
/****** Object:  Table [dbo].[PackagesToTrack]    Script Date: 01-06-2018 20:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackagesToTrack](
	[rn] [int] IDENTITY(1,1) NOT NULL,
	[External Tracking No_] [varchar](100) NOT NULL,
	[Shipping Agent Code] [varchar](50) NOT NULL,
	[Company] [varchar](50) NOT NULL,
	[threadno_] [int] NOT NULL,
	[PackageNo] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PackagesToTrack] ON 

INSERT [dbo].[PackagesToTrack] ([rn], [External Tracking No_], [Shipping Agent Code], [Company], [threadno_], [PackageNo]) VALUES (1, N'508741111117992', N'GSO', N'WS', 1, N'CONT-000045723')
INSERT [dbo].[PackagesToTrack] ([rn], [External Tracking No_], [Shipping Agent Code], [Company], [threadno_], [PackageNo]) VALUES (2, N'1ZTT1049A822465125', N'UPS', N'WS', 1, N'CONT-000042177')
INSERT [dbo].[PackagesToTrack] ([rn], [External Tracking No_], [Shipping Agent Code], [Company], [threadno_], [PackageNo]) VALUES (5, N'415205511594', N'FEX', N'WS', 1, N'CONT-000036552')
GO
SET IDENTITY_INSERT [dbo].[PackagesToTrack] OFF
ALTER TABLE [dbo].[PackagesToTrack] ADD  CONSTRAINT [DF_PackagesToTrack_PackageNo]  DEFAULT ('') FOR [PackageNo]
GO
